<header>
  <img
    src="assets/img/felipe.png"
    alt="Felipe Borges - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
   />
   <h1>Felipe Borges</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | Java</p>
    <p>Capim Grosso, Bahia, Brasil</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a molestie lacus.
      Ut magna libero, pellentesque placerat faucibus non, auctor et ligula.
      Donec sagittis erat sed tortor bibendum, sed porta dolor tincidunt.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/felipe-gsb/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="//api.whatsapp.com/send?phone=5574xxxxxxxxx&text=Ol%C3%A1%20Felipe,%20preciso%20de%20um%20job!"
            target="_blank"
          >
             <strong>Envie uma mensagem para:</strong>
             <p>WhatsApp: (74) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="mailto:felipetecacc@gmail.com"
            target="_blank"
          >
             <strong>Envie uma e-mail para:</strong>
             <p>felipetecacc&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
